* {
  text-decoration: none;
}

.head {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    z-index: 6;
    position: relative;
  }

  h1 {
    z-index: 6;
  }

  .that {
    z-index: 6;
    
  }

  .back {

  }

  .btn {
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    text-align: center;
    /* z-index: -1; */

  }
  .btn:hover {
    opacity: 0.9;
}

body {
  background-color: lightblue;
  justify-content: center;
  align-items: center;
}

.one {
  position: relative;
  z-index: 5;
}

.two {
  position: relative;
  z-index: 5;
}

.three {
  position: relative;
  z-index: 5;
}

.four {
  position: relative;
  z-index: 5;
}

.five {
  position: relative;
  z-index: 5;
}

.six {
  position: relative;
  z-index: 5;
}


.bbox {
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.change {
  position: absolute;
  top: 50vh;
  right: 70px;
  width: 100px;
  height: 65px;
  background-color: white;
  z-index: 5;
}
