* {
  text-decoration: none;
}

.head {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
  }

  .btn {
    background-color: f;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;


  }

body {
  background-color: lightblue;

}

