@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');

body{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.loading-text {
    font-size: 50px;
    color: white;
    opacity: 1;
}

.bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-image: url("images/csp.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur()
}

.back {
    position: absolute; top: 5px; left: 5px;
    font-size: 25px;
    text-decoration: none;
    background-color: rgb(230,205,156);
}