@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.container {
    margin-width: 1200px;
    margin: 0 auto;
}

.hero {
    background-image: url(images/person.jpg)
}